<footer class="mt-8 bg-stone-200 dark:bg-stone-500 py-2 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="py-1" style="display: flex; justify-content: center;">
      {% if site.github != "" %}
      <a href={{ site.github }}><img src="/assets/img/Github_black.svg" alt="Github icon"></a>
      {% endif %}

      {% if site.twitter != "" %}
      &nbsp;&nbsp;&middot;&nbsp;&nbsp; <a href={{ site.twitter }}><img src="/assets/img/Twitter_black.svg"
          alt="Twitter icon"></a>
      {% endif %}

      {% if site.mastodon != "" %}
      &nbsp;&nbsp;&middot;&nbsp;&nbsp; <a href={{ site.mastodon }}><img src="/assets/img/Mastodon_black.svg"
          alt="Mastodon icon"></a>
      {% endif %}

      {% if site.rss != "" %}
      &nbsp;&nbsp;&middot;&nbsp;&nbsp; <a href={{ site.rss }}><img src="/assets/img/RSS_black.svg"
          alt="RSS icon"></a>
      {% endif %}
    </p>
  </div>
</footer>