<footer class="mt-8 bg-gray-200 dark:bg-gray-900 py-2 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="py-4" style="display: flex; justify-content: center;">
      {% if site.github != "" %}
      <a href={{ site.github }}><img src="/assets/img/Github_black.svg" alt="Github icon"></a>
      {% endif %}

      {% if site.twitter != "" %}
      &nbsp;&nbsp;&middot;&nbsp;&nbsp; <a href={{ site.twitter }}><img src="/assets/img/Twitter_black.svg"
          alt="Twitter icon"></a>
      {% endif %}

      {% if site.mastodon != "" %}
      &nbsp;&nbsp;&middot;&nbsp;&nbsp; <a href={{ site.mastodon }}><img src="/assets/img/Mastodon_black.svg"
          alt="Mastodon icon"></a>
      {% endif %}
    </p>
  </div>
</footer>